*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    color: white;
}


h1{
    text-align: center;
    font: 3em sans-serif bold;
}


.grid {
    display: grid;
    grid-template-columns: repeat(20, 50px); /* 20 columnas de 50px cada una */
    gap: 8px;
    
    margin: 20px auto;
    background-color: #3498db;
    width: 95%;
    height: 500px;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: black; /* Color de celda vacía */
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    
}

